.company {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #491C4F;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
}

.box {
    padding: 50px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
    margin-top: 30px;
    background-color: #2707f4;
}

p {
    font-size: 24px;
    color: #fff;
}

h1 {
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.yellow {
    color: goldenrod;
}

.button-s {
    display: inline-block;
    width: 9rem;
    padding: 10px;
    margin: 2rem 0 10px;
    border: 1px solid black;
    border-radius: 5px 5px 0 5px;
    background-color: purple;
    color: #fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none; /* Prevent button-like links from underlining */
}
